
   .Cards{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 50px;
    padding: 30px 0;
    background-color: #242424;
    border-radius: 20px;
   }
   .s4card{
    background-color: white;
   }